<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
       <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
         <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero4.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero5.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero6.jpg" alt="third slide" style="display: block; width: 100%; height: 100%;">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Icarus - Your one-stop destination for your sports needs!!!</h1>
    </div>
</section>
<div class="container marketing">

     <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tennis Racquets. <span class="text-muted">That’ll blow your mind.</span></h2>
        <p class="lead">Whether you're a beginner aiming to improve your game or an advanced player looking for the ultimate competitive edge, we have the perfect racquet for you. Explore our extensive collection featuring the latest technology and designs from top brands. Each racquet is crafted to enhance your swing, improve ball control, and maximize comfort during play. Shop with us and discover the ideal partner for your tennis journey, with options tailored to fit every skill level and playing style. Elevate your game today with the best in class — only a click away!</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 padding-left-20">
        <h2 class="featurette-heading ml-5">It's Hiking Season!<span class="text-muted">And we got you covered.</span></h2>
        <p class="lead ml-5">Looking for Hiking Boots, Walking Shoes, Sandals or Outdoor Wear? Choose from a large range today.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bslide2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A football fan? <span class="text-muted">Come shop with us!.</span></h2>
        <p class="lead">WWhether you're just starting out or you're a seasoned player looking for the best gear, our selection is designed to elevate your game. Explore an extensive range of top-quality footballs, meticulously crafted to enhance your play on any field. From durable training balls to official match-day footballs used by professionals, we offer options for every level of play. Shop with us to find your perfect match, and experience superior touch, feel, and durability.s</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

  </div>